/*Generals*/
@font-face {
font-family: 'Intro Regular';
src: url('../fonts/Intro-Regular.eot');
src: url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Intro-Regular.woff') format('woff'),
url('../fonts/Intro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: 'Intro Regular Alt';
	src: url('../fonts/Intro-Regular-Alt.eot');
	src: url('../fonts/Intro-Regular-Alt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Intro-Regular-Alt.woff') format('woff'),
	url('../fonts/Intro-Regular-Alt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Intro Regular';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}
a {
	text-decoration: none;
}
input:active, input:focus, button:active, button:focus {
	outline: none;
}
input[type=text] {
	border: 0;
	font-size: 16px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
input[type=text]:focus {
	background: #fff;
	color: #333;
}
button::-moz-focus-inner {
  border: 0;
}
.center {
	width: 978px;
	margin: 0 auto;
}
/*Header*/
.top-menu {
	background-color: #f5547b;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 200;
}
.top-menu__list {
	padding: 0;
	margin: 0;
	display: inline;
	list-style-type: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.top-menu__itm {
	padding-top: 14px;
	padding-left: 12px;
}
.top-menu__itm_cl {
	padding-left: 0;
}
.top-menu__link {
	color: #fff;
	font-size: 20px;
}
.top-menu__link_pink {
	font-size: 14px;
	color: #ffa3b9;
}
.top-menu__link_ras {
	display: block;
	font-style: normal;
	font-size: 12px;
	position: relative;
	width: 200px;
	height: 34px;
	padding-top: 16px;
	padding-left: 30px;
	background-color: rgba(189, 48, 82, 0.6);
	text-align: center;
}
.top-menu__link_phone {
	display: block;
	font-style: normal;
	font-size: 12px;
	position: relative;
	width: 190px;
	height: 34px;
	padding-top: 16px;
	padding-left: 40px;
	background-color: rgba(189, 48, 82, 0.6);
	text-align: center;
}
.top-menu__link_ras:hover, .top-menu__link_phone:hover {
	text-decoration: underline;
}
.top-menu__link_ras:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 9px;
	left: 18px;
	background-image: url(../imajes/raspis.png);
	background-repeat: no-repeat;
	position: absolute;
}
.top-menu__link_phone:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 8px;
	left: 30px;
	background-image: url(../imajes/phone.png);
	background-repeat: no-repeat;
	position: absolute;
}
.basic-menu {
	height: 211px;
}
.basic-menu__logo {
	height: 100%;
	width: 23%;
	float: left;
}
.basic-menu__logo_img {
	margin-top: 90px;
	display: inline-block;
}
.basic-menu__navigation {
	height: 100%;
	width: 75%;
	float: left;
	margin-left: 19px;
	margin-top: 80px;
}
/*второй уровень*/
.basic-menu__itm_position {
	margin-left: 60px!important;
}
/*поместить в другую папку и переопределить*/
.basic-menu__list {
	margin: 0;
	padding: 0;
	text-align: right;
}
.basic-menu__itm {
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
}
.basic-menu__itm:hover .basic-menu__link_circle {
	background: #e23861;
	top: -20px;
}
.basic-menu__link {
	text-align: right;
	color: #5b5b5b;
	letter-spacing: 0.3px;
	font-size: 12px;
	display: block;
}
.basic-menu__link:hover {
	color: #e34168;
}
.basic-menu__link:before {
	content: '';
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	width: 50px;
	height: 10px;
	top: 58px;
	left: 50%;
	margin-left: -25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ddd));
	background: -webkit-linear-gradient(top, #ebebeb 0%, #ddd 100%);
	background: -o-linear-gradient(top, #ebebeb 0%, #ddd 100%);
	background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.basic-menu__link:hover:before {
	width: 40px;
	height: 8px;
	margin-left: -20px;
}
.basic-menu__link_circle {
	-webkit-transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	-o-transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
	position: relative;
	z-index: 100;
	display: block;
	text-align: center;
	width: 60px;
	height: 60px;
	top: 0;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #1bbdce;
	line-height: 78px;
	margin: auto;
	margin-bottom: 15px;
}
/*Slider*/
.main-gallery__img {
	max-width: 100%;
}
.gallery-cell {
	height: 400px;
	padding: 0 19px;
	width: 100%;
}
.main-gallery__slider {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0;
	width: 479px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.main-gallery__pink-ban {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	background: rgba(226, 55, 96, 0.9);
	-webkit-box-flex: 0;
	padding: 25px 40px 10px 38px;
	-webkit-box-flex: 1;
	        flex: 1;
	-webkit-flex: 0 0 479px;
	    -ms-flex: 0 0 479px;
	        flex: 0 0 479px;
}
.main-gallery__link {
	color: #fff;
	text-decoration: none;
}
.main-gallery__ttl {
	color: #fff;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	margin: 0;
	font-size: 34px;
	line-height: 1.1;
}
.main-gallery__ttl:hover {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.3);
}
.main-gallery__ttl_big {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.main-gallery__ttl_big:hover {
	color: #fff;
}
.main-gallery__ttl_sm {
	color: #fff;
	font-size: 14px;
	margin: 14px 0;
	font-weight: 100;
}
.main-gallery__nav {
	margin: 0;
	padding: 0;
	position: relative;
	height: 50px;
}
.main-gallery__nav_prev, .main-gallery__nav_next {
	display: inline-block;
	width: 30px;
	height: 50px;
}
.main-gallery__nav_prev:after {
	position: absolute;
	content: '';
	width: 11px;
	height: 26px;
	background: url(../imajes/prevArrow.png);
	background-repeat: no-repeat;
	left: 7px;
	top: 50%;
	margin-top: -13px;
	margin-left: -6px;
}
.main-gallery__nav_next:after {
	position: absolute;
	content: '';
	width: 11px;
	height: 26px;
	background: url(../imajes/nextArrow.png);
	background-repeat: no-repeat;
	left: 40px;
	top: 50%;
	margin-top: -13px;
	margin-left: -6px;
}
/*Mountain*/
.mountain {
	margin-top: 50px;
	height: 450px;
	background: url(../imajes/rock.jpg) center bottom;
	background-repeat: no-repeat;
	position: relative;
} 
#moun_man {
	position: absolute;
	background: url(../imajes/man.png) 0 0;
	background-repeat: no-repeat;
	width: 183px;
	height: 130px;
	bottom: 62px;
	right: 0px;
	z-index: 3;
}
.mountain__main-title {
	font-size: 34px;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	color: #616161;
	text-align: center;
	margin-bottom: 21px;
	padding-top: 40px;
}
.mountain-banner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.mountain-banner__flag-1, .mountain-banner__flag-2, 
.mountain-banner__flag-3 {
	position: relative;
	width: 33.3%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.mountain-banner__flag-1:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 149px;
	left: 234px;
}
.mountain-banner__flag-2:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 130px;
	left: 274px;
}
.mountain-banner__flag-3:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 110px;
	left: 315px;
}
.mountain-banner__img-1 {
	position: absolute;
	top: 48px;
}
.mountain-banner__img-2 {
	position: absolute;
	left: 40px;
	top: 28px;
}
.mountain-banner__img-3 {
	position: absolute;
	right: 0;
	top: 4px;
}
.mountain-banner__link {
	font-size: 18px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 100px;
	width: 245px;
	text-align: center;
	-webkit-transform: skewY(-10deg);
	    -ms-transform: skewY(-10deg);
	        transform: skewY(-10deg);
}
.mountain-banner__link:hover {
	text-decoration: underline;
}
/*перенести в другую папку, уровень переопраделния*/
.mountain-banner__link_pos-2 {
	left: 40px!important;
	top: 93px!important;
}
.mountain-banner__link_pos-3 {
	left: 80px!important;
	top: 72px!important;
}
.mountain-banner__ttl {
	position: absolute;
	-webkit-transform: skewY(-10deg);
	    -ms-transform: skewY(-10deg);
	        transform: skewY(-10deg);
	font-size: 9px;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 54px;
	top: 46px;
	left: 0;
	margin: 0;
	padding: 6px 0 0 0;
}
/*перенести в другую папку, уровень переопраделния*/
.mountain-banner__ttl_pos-2 {
	top: 26px!important;
	left: 40px!important;
}
.mountain-banner__ttl_pos-3 {
	top: 2px!important;
	left: 80px!important;
}
.mountain-banner__ttl_big-number {
	font-size: 30px;
	color: #fff;
}
/*Form*/
.form__ttl {
	font-size: 34px;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	color: #333333;
	text-align: center;
}
.form__subtitle {
	font-family: 'Intro Regular';
	font-size: 22px;
}
.complete-form {
	width: 100%;
	background: -webkit-gradient(linear, left bottom, left top, from(#21d0e2), to(#1bbad8));
	background: -webkit-linear-gradient(bottom, #21d0e2, #1bbad8);
	background: -o-linear-gradient(bottom, #21d0e2, #1bbad8);
	background: linear-gradient(to top, #21d0e2, #1bbad8);
}
.complete-form__field-fill {
	padding: 50px;
}
.complete-form__table {
	margin: auto;
}
.complete-form__col {
	padding-bottom: 34px;
	text-align: right;
}
/*перенести в другую папку, уровень переопраделния*/
.complete-form__col_indication {
	display: table!important;
	padding-left: 14px!important;
}
.complete-form__label {
	color: #fff;
	padding-top: 13px;
	font-size: 18px;
}
/*перенести в другую папку, уровень переопраделния*/
.complete-form__label_pos {
	padding-right: 14px;
	padding-left: 30px;
}
.complete-form__input {
	width: 80px;
	height: 42px;
	text-align: center;
	color: #fff;
	background: #12a9c4;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 0 1px #0d9bbd inset;
	        box-shadow: 0 0 0 1px #0d9bbd inset;
}
.complete-form__button {
	display: table;
	margin: 6px;
	-webkit-border-radius: 40px;
	        border-radius: 40px;
	border: 2px solid;
	border-color: #17add2;
}
/*поместить в новый css-файл*/
.submit {
	text-align: center;
}
.submit__button {
	font-family: 'Intro Regular Alt';
	min-width: 250px;
	background: none;
	color: #fff;
	font-size: 22px;
	line-height: 1;
	padding: 15px 48px;
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
.oval-button, .oval-button-body {
	min-width: 180px;
	font-size: 14px;
	padding: 11px 30px;
	margin-right: 20px;
	border: 2px solid #1bbbd9;
	background: none;
	color: #fff;
	border-color: #41edff;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
}
.oval-button_sec {
	margin-right: 0;
}
.oval-button:hover, .submit__button:hover, 
.oval-button-body:hover {
	cursor: pointer;
	background-color: #41edff;
}
/*перенести в другую папку, уровень переопраделния*/
.checked {
	color: #21d0e2!important;
	background-color: #fff!important;
	border-color: #fff!important;
}
.checked:hover {
	background-color: #fff!important;
	color: #626161!important;
}
/*Walk*/
.walk-background {
	position: relative;
	width: 100%;
	padding-top: 44px;
	padding-bottom: 78px;
	background: url(../imajes/body-bg--bottom.jpg) center bottom;
	background-repeat: no-repeat;
}
.walk-banner {
	position: relative;
	width: 400px;
	margin: auto;
	background-color: #fff;
	padding: 6px;
	color: #464343;
	font-size: 14px;
}
.walk-banner:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 78px;
	right: 50px;
	top: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#abbbbd), to(#c4d4d6));
	background: -webkit-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: -o-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
}
.walk-banner:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 78px;
	left: 50px;
	top: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#abbbbd), to(#c4d4d6));
	background: -webkit-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: -o-linear-gradient(left, #abbbbd 0%, #c4d4d6 100%);
	background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
}
.walk-banner__frame {
	position: relative;
	padding: 25px 30px;
	border: 5px solid #d3eff2;
}
.walk-banner__ttl {
	font-size: 20px;
	color: #626161;
	font-weight: 100;
	margin: 0 0 3px 0;
}
.walk-banner__inform {
	color: #464343;
	font-size: 16px;
	font-weight: 100;
	margin: 0;
}
#walk_man {
	position: absolute;
	z-index: 100;
	left: 0;
	bottom: -52px;
}
.walk-banner__inform_blue {
	font-size: 20px;
	color: #1bbbd9;
}
/*Footer*/
.footer {
	padding-top: 45px;
	padding-bottom: 45px;
	background: -webkit-gradient(linear, left top, right top, from(#e23760), to(#f85980));
	background: -webkit-linear-gradient(left, #e23760 0%, #f85980 100%);
	background: -o-linear-gradient(left, #e23760 0%, #f85980 100%);
	background: linear-gradient(to right, #e23760 0%, #f85980 100%);
}
.footer-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.footer-col__block {
	font-size: 13px;
	width: 33.3%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.footer-col__ttl {
	position: relative;
	font-weight: 100;
	color: #fff;
	font-size: 18px;
	margin: 0 0 5px 0;
}
.footer-col__ttl_copy:before {
	position: absolute;
	content: '\f1f9';
	color: #fff;
	font-family: 'FontAwesome';
	right: 100%;
	bottom: 4px;
	font-size: 14px;
}
.footerColSm__ttl_pos {
	margin-left: 102px;
}
.footer-col__link {
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-col_line {
	text-decoration: underline;
	font-size: 13px;
	font-weight: 100;
}
.footer-col_line:hover {
	text-decoration: none;
}
.footer-col__txt {
	font-weight: 100;
	color: #fff;
	margin: 7px 0 4px 102px;
}
.footer-col__txt_b {
	font-weight: 600;
}
.footer-col__footnote {
	color: #fff;
	text-decoration: underline;
	font-size: 12px;
}
.footer-col__footnote:hover {
	text-decoration: none;
}
.footer-col__footnote_sm {
	font-size: 10px;
	color: #fff;
}
/*поместить в другой css-файл*/
.social {
	margin-left: 6px;
}
.social__link {
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #e33861;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	width: 46px;
	height: 46px;
	margin-bottom: 15px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.social__link_fb, .social__link_od, .social__link_ytb, 
.social__link_instgrm {
	margin-left: 19px;
}
.social__link_vk:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f189';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -13px;
	margin-top: -11px;
}
.social__link_vk:hover {
	background-color: #4d7198;
	border: 2px solid #fff;
}
.social__link_fb:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f09a';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -7px;
	margin-top: -11px;
}
.social__link_fb:hover {
	background-color: #3b5998;
	border: 2px solid #fff;
}
.social__link_od:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f263';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -11px;
}
.social__link_od:hover {
	background-color: #f2720c;
	border: 2px solid #fff;
}
.social__link_ytb:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f167';
	font-family: 'FontAwesome';
	font-size: 24px;
	top: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -12px;
}
.social__link_ytb:hover {
	background-color: #cc181e;
	border: 2px solid #fff;
}
.social__link_instgrm:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f16d';
	font-family: 'FontAwesome';
	font-size: 24px;
	top: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -12px;
}
.social__link_instgrm:hover {
	background-color: #3f729b;
	border: 2px solid #fff;
}
.scrollup {
	background: rgba(226, 55, 96, 0.9);
	position: fixed;
	bottom: 250px;
	right: 50px;
	height: 50px;
	width: 50px;
}
.scrollup:hover {
	cursor: pointer;
}
.fa-angle-double-up {
	color: #fff;
	font-size: 22px!important;
	padding-top: 14px;
	padding-left: 18px;
}